<%= form_for(current_user, url: profile_path) do |f| %>
  <%= render 'shared/error_messages', resource: current_user %>

  <div class="row">
    <div class="col-md-6">
      <p class="col-md-offset-1">Enter account info:</p>
      <div class="form-group">
        <div class="col-md-10 col-md-offset-1">
          <%= f.label :avatar, class: "control-label" %>
          <%= f.file_field :avatar, class: "btn btn-default" %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-10 col-md-offset-1">
          <%= f.label :name, class: "control-label" %><br>
          <%= f.text_field :name, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-10 col-md-offset-1">
          <%= f.label :email, class: "control-label" %><br>
          <%= f.text_field :email, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-10 col-md-offset-1">
          <%= f.label :current_password,
                      "Current Password (we need your current password to confirm your changes)",
                      :class => "control-label"  %>
          <%= f.password_field :current_password, autocomplete: "off", :class => "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-10 col-md-offset-1">
          <%= f.label :password,
                      "New Password (leave blank if you don't want to change it)",
                      :class => "control-label" %>
          <%= f.password_field :password, autocomplete: "off", :class => "form-control" %>
          <% if @validatable %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-10 col-md-offset-1">
          <%= f.label :password_confirmation,
                      "New Password Confirmation",
                      :class => "control-label" %>
          <%= f.password_field :password_confirmation,
                               autocomplete: "off",
                               :class => "form-control" %>
        </div>
      </div>
    </div>

    <div class="col-md-6">

      <p class="col-md-offset-1">Tell us about yourself:</p>

      <div class="form-group">
        <div class="col-md-10 col-md-offset-1">
          <%= f.label :bio, class: "control-label" %><br>
          <%= f.text_area :bio, rows: 4, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-10 col-md-offset-1">
          <%= f.label :github, "Add Your Github Account", class: "control-label" %><br>
          <%= f.text_field :github, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-10 col-md-offset-1">
          <%= f.label :linkedin, class: "control-label" %><br>
          <%= f.text_field :linkedin, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-10 col-md-offset-1">
          <%= f.label :twitter, class: "control-label" %><br>
          <%= f.text_field :twitter, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-10 col-md-offset-1">
          <%= f.label :facebook, class: "control-label" %><br>
          <%= f.text_field :facebook, class: "form-control" %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="page-header form-group">
      <div class="text-center">
        <%= f.submit "Update", :class => "btn btn-default" %>
        or
        <%= link_to 'Cancel', profile_path %>
      </div>
    </div>
  </div>
<% end %>

<div class="col-md-8 col-md-offset-2 text-center">
  <h3>Unhappy? Cancel my account</h3>

  <p>
    <%= button_to "Cancel my account",
                  registration_path(current_user),
                  class: "btn btn-default",
                  data: { confirm: "Are you sure?" },
                  method: :delete %>
  </p>
</div>
