<p id="notice"><%= notice %></p>

<p>
  <%= image_tag current_user.avatar.url(:medium) %>
</p>

<p>
  <strong>Name:</strong>
  <%= current_user.name %>
</p>

<p>
  <strong>Bio:</strong>
  <%= current_user.bio %>
</p>

<p>
  <strong>Email:</strong>
  <%= current_user.email %>
</p>

<p>
  <strong>Github:</strong>
  <%= current_user.github %>
</p>

<p>
  <strong>Linkedin:</strong>
  <%= current_user.linkedin %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= current_user.twitter %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= current_user.facebook %>
</p>

<%= link_to 'Edit', edit_profile_url %>
