<div class="container">
  <div class="jumbotron mainJumbo">
    <div class="row">
      <div class="col-md-8 info-box">
        <h1>Bug Catcher</h1>
        <p>Iterate through user testing faster by crowd sourcing the work</p>
      </div>
      <div class="col-md-4">
        <div class="signup-card">
          <div class="signup-tabs">
            <div class="col-xs-6 tab active" id="signup-tab">Sign Up</div>
            <div class="col-xs-6 tab" id="signin-tab">Sign In</div>
          </div>
          <div id="signup-form">
            <%= form_tag 'google.com' do %>
              <%= text_field_tag :username, nil, placeholder: "username", class: "form-control" %>
              <%= password_field_tag :password, nil, placeholder: "password", class: "form-control" %>
              <%= password_field_tag :password_confirmation, nil, placeholder: "confirm password", class: "form-control" %>
              <%= submit_tag "Get Started", class: "btn btn-primary form-control" %>
            <% end %>
          </div>
          <div id="signin-form">
            <%= form_tag 'google.com' do %>
              <%= text_field_tag :username, nil, placeholder: "username", class: "form-control" %>
              <%= password_field_tag :password, nil, placeholder: "password", class: "form-control" %>
              <div class="form-control remember-me">
                <%= check_box_tag :remember, nil, false %>
                <%= label_tag :remember, "Remember me" %>
              </div>
              <%= submit_tag "Sign In", class: "btn btn-primary form-control" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">For Testers</h3>
        </div>
        <div class="panel-body">
          Be an early adopter
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">For Developers</h3>
        </div>
        <div class="panel-body">
          More access to users
        </div>
      </div>
    </div>
  </div>

  <div class="row">

    <div class="col-sm-4">
      <div class="thumbnail">
        <!-- <img src="#" alt="..."> -->
        <div class="caption">
          <h3>Thumbnail label</h3>
          <p>...</p>
          <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="thumbnail">
        <!-- <img src="#" alt="..."> -->
        <div class="caption">
          <h3>Thumbnail label</h3>
          <p>...</p>
          <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="thumbnail">
        <!-- <img src="#" alt="..."> -->
        <div class="caption">
          <h3>Thumbnail label</h3>
          <p>...</p>
          <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
