<div class="container">
  <%= render 'layouts/messages' %>
  <div class="jumbotron mainJumbo">
    <div class="row">
      <div class="col-md-8 info-box">
        <h1>Bug Catcher</h1>
        <p>Iterate through user testing faster by crowd sourcing the work</p>
      </div>
      <div class="col-md-4">
        <div class="signup-card">
          <div class="signup-tabs row">
            <div class="col-xs-6 tab active" id="signup-tab">Sign Up</div>
            <div class="col-xs-6 tab" id="signin-tab">Sign In</div>
          </div>
          <div id="signup-form">
            <%= form_for(User.new, url: registration_path(:user)) do |f| %>

              <%= f.email_field :email, autofocus: true, :class => "form-control", placeholder: "email" %>
              <%= f.password_field :password, autocomplete: "off", :class => "form-control", placeholder: "password" %>
                  <% if @validatable %>
                  <em>(<%= @minimum_password_length %> characters minimum)</em>
                  <% end %>

              <%= f.password_field :password_confirmation, autocomplete: "off", :class => "form-control", placeholder: "confirm password" %>

              <%= f.submit "Get started", :class => "btn btn-primary btn-block" %>
            <% end %>
          </div>
          <div id="signin-form">
            <%= form_for(User.new, url: session_path(:user)) do |f| %>
              <%= f.email_field :email, autofocus: true, :class => "form-control", placeholder: "email" %>
              <%= f.password_field :password, autocomplete: "off", :class => "form-control", placeholder: "password" %>

                <div class="form-control remember-me">
                  <div class="col-md-6">
                    <%= f.check_box :remember_me %>
                    <%= f.label :remember_me %>
                  </div>
                  <div class="col-md-6">
                    <%= link_to "Forgot Password?", new_user_password_url %>
                  </div>
                </div>
              <%= f.submit "Log in", :class => "btn btn-primary btn-block"  %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-users">
        <div class="panel-heading">
          <h3 class="panel-title">For Testers</h3>
        </div>
        <div class="panel-body">
          Be an early adopter
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="panel panel-users">
        <div class="panel-heading">
          <h3 class="panel-title">For Developers</h3>
        </div>
        <div class="panel-body">
          More access to users
        </div>
      </div>
    </div>
  </div>

  <div class="row">

    <div class="col-sm-4">
      <div class="thumbnail">
        <!-- <img src="#" alt="..."> -->
        <div class="caption">
          <h3>Thumbnail label</h3>
          <p>...</p>
          <p><a href="#" class="btn btn-primary" role="button">Button</a></p>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="thumbnail">
        <!-- <img src="#" alt="..."> -->
        <div class="caption">
          <h3>Thumbnail label</h3>
          <p>...</p>
          <p><a href="#" class="btn btn-primary" role="button">Button</a></p>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="thumbnail">
        <!-- <img src="#" alt="..."> -->
        <div class="caption">
          <h3>Thumbnail label</h3>
          <p>...</p>
          <p><a href="#" class="btn btn-primary" role="button">Button</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
