<style type="text/css">

.service-description {
  margin-top: 40px;
  margin-bottom: 40px;
}

.service-description .row {
  padding-top: 20px;
  padding-bottom: 20px;
}

</style>

<div class="jumbotron home-jumbotron">
  <div class="container">
    <div class="row">
      <%= render(current_user.present? ? "home_jumbo_for_user" : "home_jumbo_for_guest") %>
    </div>
  </div>
</div>

<div class="service-description container" style="max-width: 800px;">
  <div class="row">
    <div class="col-sm-3">
      <%= image_tag "for-devs.jpg", style: "width: 100%;" %>
    </div>

    <div class="col-sm-8 col-sm-offset-1">
      <h3>For Developers</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur.
      </p>

      <p>
        <%= link_to "Sign-up and add your project", new_user_registration_path %>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8">
      <h3>For Testers</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur.
      </p>

      <p>
        <%= link_to "Sign-up and add start testing", new_user_registration_path %>
      </p>
    </div>

    <div class="col-sm-3 col-sm-offset-1">
      <%= image_tag "for-qa-ppl.jpg", style: "width: 100%" %>
    </div>
  </div>


</div>

<div class="projects-section">
  <div class="container">
    <div class="row popular-projects">
      <div class="col-sm-12">
        <div class="page-header text-center">
          <h3>Featured projects</h3>
        </div>
      </div>

      <% @projects.each do |project| %>
        <div class="col-sm-4">
          <div class="thumbnail">
            <%= link_to image_tag(project.logo.url(:medium)), project %>
            <div class="caption">
              <h4><%= link_to project.name, project %></h4>
            </div>
          </div>
        </div>
      <% end %>

      <div class="col-sm-12">
        <hr/>

        <p class="text-center">
          <%= link_to "See all projects...", projects_path %>
        </p>
      </div>

    </div>
  </div>
</div>