<p id="notice"><%= notice %></p>

<p>
  <%= image_tag @user.avatar.url(:medium) %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @user.bio %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Github:</strong>
  <%= @user.github %>
</p>

<p>
  <strong>Linkedin:</strong>
  <%= @user.linkedin %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @user.twitter %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= @user.facebook %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
