<div class="col-md-12">
  <%= render "shared/error_messages", resource: @project %>

  <%= form_for @project do |f| %>
    <div class="form-group">
      <%= f.label :name, class: "form-label" %>
      <%= f.text_field :name, class: "form-control" %>
    </div>

    <% if f.object.logo_file_name %>
      <div class="form-group row">
        <div class="col-md-2">
          <%= image_tag(f.object.logo.url :thumb, class: "img-thumbnail") %>
        </div>
        <div class="col-md-10">
          <%= f.label :logo, "Overwrite Logo", class: "form-label" %>
          <%= f.file_field :logo %>
        </div>
      </div>
    <% else %>
      <div class="form-group">
        <%= f.label :logo, "Add Logo", class: "form-label" %>
        <%= f.file_field :logo %>
      </div>
    <% end %>
    <div class="form-group">
      <%= f.label :description, class: "form-label" %>
      <%= f.text_area :description, rows: 10, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :url, class: "form-label" %>
      <%= f.text_field :url, class: "form-control" %>
    </div>

    <%= label_tag "screenshots" %>
    <%= f.fields_for :screenshots do |builder| %>
      <%= render partial: 'screenshot_fields', locals: { f: builder } %>
    <% end %>
    <p>
    <%= link_to_add_fields "Add Screenshot", f, :screenshots %>
    </p>
    <div class="form-group">
      <hr />
      <div class="pull-left">
        <%= f.submit class: "btn btn-default" %> or
        <%= link_to "Cancel", :back %>
      </div>

      <div class="pull-right">
        <% if @project.persisted? %>
          <%= link_to "Delete Project", @project,
                class: "btn btn-danger btn-outline",
                method: :delete,
                data: { confirm: "Are you sure you want to delete this project?"} %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
