<div class="col-md-6 col-md-offset-3">

<%= form_for @project do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <% if f.object.logo_file_name %>
    <div class="media">
      <div class="media-left media-middle">
        <%= label_tag "logo" %>
        <%= image_tag(f.object.logo.url :thumb, class: "img-thumbnail") %>
      </div>
      <div class="media-body">
        <%= f.label 'delete logo' %>
        <%= check_box_tag 'delete_logo' %>
      </div>
    </div>
    </br>
    <div class="form-group">
      <%= f.label :logo, "Overwrite Logo" %>
      <%= f.file_field :logo %>
    </div>
  <% else %>
    <div class="form-group">
      <%= f.label :logo, "Add Logo" %>
      <%= f.file_field :logo %>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :url %>
    <%= f.text_field :url, class: "form-control" %>
  </div>

  <%= label_tag "screenshots" %>
  <%= f.fields_for :screenshots do |s| %>
    <%= render partial: 'screenshot_fields', locals: { s: s } %>
  <% end %>
  </br>
  <p>
  <%= link_to_add_fields "Add Screenshot", f, :screenshots %>
  </p>
  <div class="form-group">
    <%= f.submit class: "btn btn-default" %>
  </div>
<% end %>
</div>
