<fieldset>
<% if s.object.new_record? %>
  <div class="form-group">
    <%= s.label :image, "New Screenshot" %>
    <%= s.file_field :image %>
  </div>
<% else %>
  <div class="media">
    <div class="media-left media-middle">
      <%= image_tag(s.object.image.url(:medium), class: "media-object") %>
    </div>
    <div class="media-body">
      <%= s.check_box :_destroy %>
      <%= s.label :_destroy, "Remove Screenshot" %>
    </div>
  </div>
<% end %>
</fieldset>
