<div class="container">
  <div class="row">

    <% if Project.count == 0 %>
      <h3>You Have No Projects</h3>
      <p><%= link_to "Add a New Project", new_project_path, class: "btn btn-sm"%></p>
    <% else %>
      <div class="row">
        <h1>
          <%= Project.count %> Projects

          <small>
            <% if current_user.present? %>
              <%= link_to "Add a New Project", new_project_url, class: "btn btn-sm" %>
            <% else %>
              <%= link_to "Add a New Project", new_project_url, class: "btn btn-sm", data: {confirm: "You must be signed in to start a project"} %>
            <% end %>
          </small>

          <div class="pagination-header small pull-right">
            <%= paginate @projects %>
          </div>
        </h1>
      </div>

      <div class="row projects-container">
        <%= render @projects %>
      </div>
    <% end %>
  </div>

  <div class="row">
    <hr/>
    <div class="pagination-footer pull-right">
      <%= paginate @projects %>
    </div>
  </div>
</div>
