<div class="container container-buffer">
  <%= link_to "< Back to All Projects", projects_url %>
  <div class="row">
    <div class="col-md-4">

      <div class="add-image-container">
        <%= image_tag @project.logo.url(:medium) %>
      </div>

      <div class="project-description">
        <p>Owned by <%= @project.owner_email %></p>
        <%= link_to "Visit webpage", @project.url %>
        <% if current_user == @project.owner %>
          | <%= link_to "Edit project", edit_project_url(@project) %>
        <% end %>
      </div>

    </div>

    <div class="col-md-8">
      <h3 style="margin-top: 0;"><%= truncate(@project.name, length: 60) %></h3>
      <hr/>
      <p class="project-description text-justify"><%= truncate(@project.description, length: 500) %></p>
    </div>
  </div>

  <div class="row">
    <h3 class="page-header text-left">Project Screenshots:</h3>
    <% if @screenshots.empty? %>
      <div class="add-image-container add-screenshot-container">
        <%= link_to "Add some screenshots of your project", "#" %>
      </div>
    <% else %>
      <% @screenshots.each do |screenshot| %>
        <%= image_tag screenshot.image.url(:thumb),
            class: 'img-responsive img-thumbnail',
            style: "max-height: 300px;" %>
      <% end %>
    <% end %>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h3 class="page-header">Releases
        <small>
          <% if @project.owner == current_user %>
            <%= link_to 'Add New Release', new_project_release_url(@project), class: "btn btn-sm" %>
          <% end %>
        </small>
      </h3>
    </div>
  </div>

  <% if @project.releases.any? %>
    <%= render @project.releases.open %>

    <hr />

    <div class="row">
      <div class="col-md-12">
        <h4>Closed Releases</h4>
      </div>
    </div>
    <%= render @project.releases.closed %>
  <% else %>
    <div class="row">
      <div class="col-md-12">
        <p><em>There are no releases yet for this project.</em></p>
      </div>
    </div>
  <% end %>
</div>
