<div class="container">
  <%= link_to "< Back to Projects", projects_url %>
  <div class="row">
    <div class="col-md-3">
      <h2 style="margin-top: 0;"><%= @project.name %></h2>

      <div class="add-image-container">
        <%= image_tag @project.logo.url, class: 'img-responsive' %>
      </div>

      <div class="project-description">
        <p>Owned by <%= @project.owner.email %></p>
        <%= link_to "Visit webpage", @project.url %>
        <% if current_user == @project.owner %>
          | <%= link_to "Edit project", edit_project_url(@project) %>
        <% end %>
      </div>

      <hr/>

      <p class="project-description text-justify"><%= @project.description %></p>
    </div>

    <div class="col-md-8 col-md-offset-1 text-center">
      <h4 class="text-left">Project Screenshots:</h4>
      <hr/>
      <% if @screenshots.empty? %>
        <div class="add-image-container add-screenshot-container">
          <%= link_to "Add some screenshots of your project", "#" %>
        </div>
      <% else %>
        <% @screenshots.each do |screenshot| %>
          <%= image_tag screenshot.image.url, class: 'img-responsive img-thumbnail', style: "max-height: 300px;" %>
          <hr/>
        <% end %>
      <% end %>
    </div>
  </div>

  <hr />

  <div class="row">
    <div class="col-md-12">
      <h2>Releases <small class="text-right"><%= link_to 'Add New Release', new_project_release_url(@project) if @project.owner == current_user %></small></h2>
    </div>
  </div>
  <% if @project.releases.any? %>
  <%= render @project.releases.open %>
  <hr />

  <div class="row">
    <div class="col-md-12">
      <h4>Closed Releases</h4>
    </div>
  </div>
  <%= render @project.releases.closed %>
  <% else %>
  <div class="row">
    <div class="col-md-12">
      <p><em>There are no releases yet for this project.</em></p>
    </div
  </div>
  <% end %>
</div>
