<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="add-image-container">
        <%= image_tag @project.logo.url %>
      </div>

      <div class="project-description">
        <h2><%= @project.name %></h2>
        <%= link_to "Visit webpage", @project.url %> |
        <%= link_to "Edit project", edit_project_url(@project) %>
      </div>

      <hr />

      <p class="project-description"><%= @project.description %></p>
    </div>

    <div class="col-md-8">
      <h4>Project Screenshots:</h4>
      <hr />
      <% if @screenshots.empty? %>
        <div class="add-image-container add-screenshot-container">
          <%= link_to "Add some screenshots of your project", "#" %>
        </div>
      <% else %>
        <% @screenshots.each do |screenshot| %>
          <%= image_tag screenshot.image.url %>
        <% end %>
      <% end %>
    </div>
  </div>

  <hr />

  <div class="row">
    <div class="col-md-12">
      <h3>Current Release:</h3>
    </div>
  </div>
  <%= render @project.releases.open %>
  <hr />

  <div class="row">
    <div class="col-md-12">
      <h3>Past Releases:</h3>
    </div>
  </div>
  <%= render @project.releases.closed %>

</div>
