<div class="row">
  <div class="col-md-8">
    <h4><%= link_to truncate(release.title, length: 80), project_release_url(release.project, release) %></h4>
    <p><em>Opened <%= time_ago_in_words(release.created_at) %> ago</em></p>
    <p class="text-justify">
      <%= truncate(release.description, length: 500) %>
    </p>
  </div>

  <div class="col-md-4 text-center">
    <% if @project.owner == current_user %>
      <%= form_for [@project, release] do |f| %>
        <%= f.hidden_field :open, value: false %>
        <%= f.submit "Close Release",
              class: "btn btn-default btn-xs",
              data: {
                confirm: "Once a release is closed for testing you can not open again. Are you sure you want to close it?"
              } %>
      <% end %>
    <% end %>
  </div>
</div>

