<div class="row">
  <div class="col-md-8">
    <h4><%= link_to release.title, project_release_url(release.project, release) %></h4>
    <p>
      <%= release.description %>
    </p>
  </div>

  <div class="col-md-4 text-center">
    <p><%= link_to "Add New Release", new_project_release_url(release.project), class: "btn btn-primary" %></p>
    <p><%= link_to "Edit Release Info", edit_project_release_url(release.project, release) %></p>
    <p><%= link_to "Close Release", close_project_release_url(release.project, release) %></p>
  </div>
</div>
