<div class="container container-buffer">
  <% if @report.release.project.owner == current_user && @report.accepted_by_project_owner == nil  %>
    <div class="row" id="acceptAlertBox">
      <div class="alert alert-info" role="alert">
        <p class="lead" style="color: white;">
          This is a new report. Please review and either accept or deny this report.
        </p>
        <br>
        <%= link_to 'Accept this Report', report_accepted_url(@report), class: 'btn btn-success', remote: true %>
        <%= link_to 'Deny this Report', report_denied_url(@report), class: 'btn btn-danger', remote: true %>
      </div>
    </div>
  <% end %>
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <%= link_to "Back to Release",
            project_release_path(@release.project, @release), class: "pull-right" %>

        <h2>
          Report #<%= @report.id %>
        </h2>
        <p><%= truncate(@report.release.title, length: 100) %></p>
        <h4>
          <small>
            <p>Created on <%= @report.created_at.strftime('%B %d, %Y') %></p>
            <% if @report.author == current_user %>
              <div>
                <%= link_to "Edit Report", [:edit, @release, @report] %> |
                <%= link_to "Delete Report", [@release, @report], method: "delete" %>
              </div>
            <% end %>
          </small>
        </h4>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p class="text-justify"><%= @report.content %></p>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <h3>Images</h3>
      <hr/>
      <p>IMAGES TO BE ADDED</p>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-md-12">
      <h3>Discussion</h3>
      <hr/>
      <%= render "comments/form", comment: @comment %>
    </div>
  </div>
</div>

